{% extends 'comon/parent.html' %}
{% load static %}
{% block header_css %}
    <style>
    .default{
        border: 1px solid #dd514c;
    }
    .unchecked{
        border: 1px solid #DDDDDD;
    }
    </style>
{% endblock %}
{% block header %}
<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">管理收货地址</a>
            </h1>
            <div class="am-header-right am-header-nav">
				<a href="{% url 'orderform:addaddress' %}" class="">
					<i class="am-icon-plus"></i>
				</a>
			</div>
	    </header>
	    <div style="height: 49px;"></div>
{% endblock %}
	{% block content %}
<ul class="address-list">
            {% for info in data %}
            <li class="curr" style="{% if info.is_default %}
            border: 1px solid #dd514c;
                {% else %}
                border: 1px solid #dddddd;
            {% endif %}">
	    		<p>收货人：{{ info.user_name }}&nbsp;&nbsp;{{ info.phone }}</p>
	    		<p class="order-add1">收货地址：{{ info.hcity }}{{ info.hproper }} {{ info.harea }} {{ info.detail_address }}</p>
	    	    <hr />
	    	    <div class="address-cz">
	    	    	<label class="am-radio am-warning">
                       <input type="radio" class="is_default" button_id="{{ info.pk }}" name="radio3" value="" data-am-ucheck {% if info.is_default %}
                       checked
                       {% endif %}> 设为默认
                    </label>
                    <a href=""><img src="{% static 'images/bj.png' %}" width="18" />&nbsp;编辑</a>
                    <a href="">删除</a>
	    	    </div>
	    	</li>
            {% endfor %}
</ul>
	{% endblock %}

{% block footer_js %}
<script src="{% static 'js/amazeui.min.js' %}"></script>
    <script>
    $(function () {
        {#绑定点击事件#}
        $('.is_default').on('click', function () {
            var self = $(this);
            var button_id = self.attr('button_id');
            {#准备数据#}
            var data = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'button_id':button_id
            };
            {#发送ajax#}
            $.ajax({
                type: 'post',
                url: '{% url "orderform:alterisdefault" %}',
                data: data,
                datatype: 'json',
                success: function (data) {
                    if(data.code==0){
                        self.attr('checked','checked');
                        $(window).attr('location','{% url "orderform:adminaddress" %}');
                    }else{
                        alert(data.errmsg)
                    }
                }
            })
        })
    })
    </script>
{% endblock %}

