{% extends 'comon/parent.html' %}
{% load static %}
{% load highlight %}
{% block header_css %}
<style>
    .shop-list-mid .tit a{color: #909090;
        font-size: 1.4rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;}
     .heightline{
            color: red;
        }

		</style>
{% endblock %}

{% block header %}
<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
    <div class="cate-search">
{#        <input type="text" class="cate-input" placeholder="请输入您要的搜索的产品关键词"/>#}
{#        <input type="button" class="cate-btn"/>#}
        <form action="{% url 'haystack_search' %}" method="get">
            <input type="text" name="q" value="{{ query  }}" class="cate-input" placeholder="请输入您要的搜索的产品关键词"/>
            <input type="submit" class="cate-btn" value=""/>
        </form>
    </div>
	    </header>
	    <div style="height: 49px;"></div>

{% endblock %}
{% block content %}

    <ul class="list-pro">
        {% for SearchResult in page %}

            <li>
                <a href="{% url 'goods:detail' SearchResult.object.pk %}"><img src=" {{ MEDIA_URL }}{{ SearchResult.object.logo }}"
                                                                 class="list-pic"/></a>
                <div class="shop-list-mid" style="width: 65%;">
                    <div class="tit"><a href="{% url 'goods:detail' SearchResult.object.pk %}">
{#                        {{ SearchResult.object.good_spu.spu_name }}#}
{#                        {{ SearchResult.object.good_name_sku }}#}
                        {% highlight SearchResult.object.good_spu.spu_name with query html_tag "i" css_class "heightline" %}
                        &emsp;
                        {% highlight SearchResult.object.good_name_sku with query html_tag "i" css_class "heightline" %}


                    </a>
                    </div>
                    <div class="am-gallery-desc">{{ SearchResult.object.price }}</div>
                    <p>销量：{{ SearchResult.object.sales }}件</p>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
            </li>
        {% empty %}
            <h5>该分类暂时没有商品</h5>

        {% endfor %}

    </ul>

{% endblock %}



