{% extends 'comon/parent.html' %}
{% load static %}
{% block header_css %}
<link href="{% static 'css/check.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header %}
<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">修改密码</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="pass_word"  placeholder="旧密码" class="login-password">
        <p>{{ errors.pass_word.0 }}</p>
	    <input type="text" name="new_pass_word" placeholder="新密码" class="login-name">
        <p>{{ errors.new_pass_word.0 }}</p>
	    <input type="text" name="re_new_pass_word" placeholder="确认新密码" class="login-password">
        <p>{{ re_new_errors.pass_word.0 }}</p>
	    <input type="submit" class="login-btn" value="确认">
    </form>
{% endblock %}

